body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000814;
  color: #e5e7eb;
  overflow-x: hidden;
}

#stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0, 8, 20, 0.6);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

nav h2 {
  color: #60a5fa;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  color: #94a3b8;
}

.buttons a {
  display: inline-block;
  margin: 15px;
  padding: 12px 20px;
  background: #60a5fa;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 80px 20px;
}

h2 {
  color: #60a5fa;
}

.card {
  background: rgba(0, 8, 20, 0.7);
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  backdrop-filter: blur(6px);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(96,165,250,0.2);
}

footer {
  text-align: center;
  padding: 40px;
}